:root {
  --nav-bkg: #6CAE90;     /* nav bar background */
  --nav-link: #6CAE90;    /* nav bar link color */
  --nav-higl: #FFFFFF;    /* nav hover background */

  --sdb-link: #3E5C38;    /* hyperlinks in sidebar */
  --sdb-hover: #3E5C38;   /* hyperlink hover in sidebar*/
  --sdb-roles: #00000094; /* author roles */

  --pg-header: #000000;   /* heading color & text links */
  --text-link: #C44615;   /* hyperlinks in text */
  --a-hover: #C44615;     /* hyperlink hover */

  --btn-color: #000000;   /* copy button color */
  --btn-hover: #C44615;   /* copy button hover */

  --toc-active: #C44615;  /* background color for active TOC */
  --toc-hover: #6CAE90;   /* background color for hover TOC */
  --toc-htext: #FFFFFF;   /* color of TOC hover text (default to --nav-bkg) */
}


/* plug color into: https://codepen.io/sosuke/pen/Pjoqqp -------------------- */
/* Collapsible menu button on mobile (--nav-link) */
span.navbar-toggler-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(0%) hue-rotate(240deg) brightness(105%) contrast(103%);
}

/* Anchor image in headings (--text-link) */
a.anchor {
  filter: brightness(0) saturate(100%) invert(36%) sepia(3%) saturate(5389%) hue-rotate(11deg) brightness(88%) contrast(82%);
}

/* Navbar background images ------------------------------------------------- */
.bg-light {
  background-image: url('ts-orange.png');
  background-size: cover;
  background-position: center;
  text-shadow: 0px 0px 10px #000 !important;
}

button.nav-link {
  text-shadow: 0px 0px 10px #000;
}

.navbar-brand {
  text-shadow: 0px 0px 10px #444;
}

.text-danger {
  text-shadow: none;
}

.text-muted {
  text-shadow: none;
}

.dropdown-header {
  text-shadow: none;
}

.dropdown-item, .dropdown-menu > li > a {
  text-shadow: none;
}

.dropdown-item:hover, .dropdown-menu > li > a:hover {
  text-shadow: none;
}

/* active nav links */
.navbar-nav .active>.nav-link {
  text-shadow: none;
}

/* inactive nav links hover */
.navbar-nav .nav-item>.nav-link:hover {
  text-shadow: none;
}

/* Home page ---------------------------------------------------------------- */
.template-home {
  .page-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    min-height: 0;
    margin: 2rem 0;
    padding: 2rem 0;
    border-bottom: 1px solid $faint-border;

    h1 {margin-top: 0rem}

    @include media-breakpoint-down(sm) {
      margin: 0.5rem 0;
      padding: 0.5rem 0;
    }
  }
  img.logo {
    margin-left: 0;

    @include media-breakpoint-down(sm) {
      width: 100px;
    }
  }
}


figcaption {
  display: none;
}


/* Navbar ------------------------------------------------------------------- */
/* Navbar color */
.bg-light {
  background-color: var(--nav-bkg) !important;
}

/* Color of links in navbar and hover links */
.nav-link {
  color: var(--nav-higl) !important;
}

/* active nav links */
.navbar-nav .active>.nav-link {
  background: var(--nav-link);
  color: var(--nav-higl) !important;
}

/* inactive nav links hover */
.navbar-nav .nav-item>.nav-link:hover {
  background: var(--nav-bkg);
  color: var(--nav-higl) !important;
}

/* button padding */
li.nav-item {
  padding-right: .5em;
}

/* package name in navbar */
.navbar-brand {
  color: var(--nav-higl) !important;
  font-weight: bolder;
  font-size: 150%;
}

/* dropdown menu */
.dropdown-header {
  color: var(--nav-link);
}

.dropdown-menu {
  background-color: var(--nav-higl);
  border-color: var(--nav-bkg);
}

/* dropdown menu links */
.dropdown-item, .dropdown-menu > li > a {
  background-color: var(--nav-higl);
  color: var(--nav-link);
}

/* dropdown menu links hover */
.dropdown-item:hover, .dropdown-menu > li > a:hover {
    color: var(--nav-higl);
    text-decoration: none;
    background-color: var(--nav-bkg);
}

/* Collapsible menu button on mobile */
.navbar-toggler {
  border-color: var(--nav-bkg);
  color: var(--nav-higl);
  background-color: var(--nav-bkg);
}

/* package verion - dev */
.text-danger {
  font-size: 75%;
  color: var(--nav-higl) !important;
  background-color: var(--nav-bkg);
  border-radius: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* package version - release */
.text-muted {
  font-size: 75%;
  color: var(--nav-higl) !important;
  background-color: var(--nav-bkg);
  border-radius: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Sidebar ------------------------------------------------------------------ */
/* link color */
.list-unstyled a {
  color: var(--sdb-link);
  text-decoration: none;
}

/* link color hover */
.list-unstyled a:hover {
  text-decoration: underline;
  color: var(--sdb-hover);
}

/* headings */
h2[data-toc-skip], #pkgdown-sidebar h2[data-toc-skip] {
  font-size: 1.2em;
  text-transform: uppercase;
  color: var(--pg-header);
}

/* developer roles */
aside small.roles {
  font-size: 0.75em;
  color: var(--sdb-roles);
}


/* Format text -------------------------------------------------------------- */
/* homepage heading */
#overview- {
  margin-top: 0.75em;
}

/* link colors */
a {
  color: var(--text-link);
}
a:hover {
  color: var(--a-hover);
}

/* add underline to links in paragraphs */
p a {
  text-decoration: underline var(--text-link) dotted;
  text-decoration-skip-ink: none;
  text-decoration-thickness: from-font;
}
p a:hover {
  text-decoration: underline var(--text-link) solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: from-font;
}

/* headers */
h1 {
  font-size: 2.0em;
  font-weight: 400;
  color: var(--pg-header);
  letter-spacing: .08em;
}
h2 {
  font-size: 1.7em;
  text-transform: none;
  font-weight: 300;
  color: var(--pg-header);
  letter-spacing: .08em;
}
h3 {
  font-size: 1.2em;
  text-transform: none;
  font-weight: 200;
  color: var(--pg-header);
  letter-spacing: .1em;
}
h4 {
  font-size: 1.2em;
  text-transform: none;
  font-weight: 600;
  color: var(--pg-header);
  letter-spacing: .05em;
}


/* Copy Buttons ------------------------------------------------------------- */
.btn-primary {
  background-color: var(--btn-color);
  border-color: var(--btn-color);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover {
  background-color: var(--btn-hover);
  border-color: var(--btn-hover);
}


/* Table of contents -------------------------------------------------------- */
#toc>.nav a.nav-link {
  color: var(--pg-header) !important;
}

#toc>.nav a.nav-link.active {
  background-color: var(--toc-active);
  color: var(--nav-higl) !important;
}

#toc>.nav a.nav-link:hover,
#toc>.nav a.nav-link:focus {
  background-color: var(--toc-hover);
  color: var(--toc-htext) !important;
}

/* Vignette tables ---------------------------------------------------------- */
table.taylor-examples td {
  width: 33.333%;
  vertical-align: middle;
}
