:root {
  --nav-bkg: #624324;     /* nav bar background */
  --nav-link: #EEDBA9;    /* nav bar link color */
  --nav-higl: #CAA462;    /* nav active and highlight */
  --a-alpha: #624324;     /* pkg version background */
  --d-alpha: #EEDBA9;     /* pkg dev version background */

  --pg-header: #A47F45;   /* heading color & text links */
  --text-link: #A47F45;   /* hyperlinks in text */
  --a-hover: #CAA462;     /* hyperlink hover */

  --sdb-link: #CAA462;    /* hyperlinks in sidebar */
  --sdb-hover: #624324;   /* hyperlink hover in sidebar*/
  --sdb-roles: #00000094; /* author roles */

  --toc-link: #A47F45;    /* table of contents links */
  --toc-bkg: #EEDBA9;     /* table of contents active background */

  --btn-color: #A47F45;   /* copy button color */
  --btn-hover: #CAA462;   /* copy button hover */

  --col-bullt: #A47F45;   /* color for colored list */
  --thb-captn: #A47F45;   /* thumbnail caption */
}


/* Navbar ------------------------------------------------------------------- */
/* Navbar color */
.bg-light {
  background-color: var(--nav-bkg) !important;
}

/* Color of links in navbar and hover links */
.nav-link {
  color: var(--nav-link) !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--nav-higl) !important;
}

/* package name in navbar */
.navbar-brand {
  color: var(--nav-link) !important;
}

/* active navbar link */
.navbar-light .navbar-nav .active > .nav-link {
  background: var(--nav-link);
  color: var(--nav-bkg) !important;
  border-radius: 1rem;
}

/* dropdown menu */
.dropdown-menu {
  background-color: var(--nav-bkg);
  border-color: var(--nav-link);
}

.dropdown-item, .dropdown-menu > li > a {
  background-color: var(--nav-bkg);
  color: var(--nav-link);
}

.dropdown-item:hover, .dropdown-menu > li > a:hover,
.dropdown-item:focus, .dropdown-menu > li > a:focus {
    color: var(--nav-higl);
    text-decoration: none;
    background-color: var(--nav-bkg);
}

.badge-default {
  color: var(--d-alpha);
  background-color: var(--a-alpha);
}

.badge-danger {
  color: var(--a-alpha);
  background-color: var(--d-alpha);
}


/* sidebar ------------------------------------------------------------------ */
#pkgdown-sidebar a {
  color: var(--sdb-link);
  text-decoration: none;
}

#pkgdown-sidebar a:hover {
  text-decoration: underline;
  color: var(--sdb-hover);
}

h2[data-toc-skip], #pkgdown-sidebar h2[data-toc-skip] {
  font-size: 1.2em;
  text-transform: uppercase;
}

#pkgdown-sidebar small.roles {
  font-size: 0.75em;
  color: var(--sdb-roles);
}


/* Format text -------------------------------------------------------------- */
/* link colors */
a {
  color: var(--text-link);
}

a:hover {
  color: var(--a-hover);
}

/* add underline to links in paragraphs */
p a {
  text-decoration: underline var(--text-link) dotted;
  text-decoration-skip-ink: none;
  text-decoration-thickness: from-font;
}

/* headers */
h1 {
  font-size: 2.0em;
  font-weight: 400;
  color: var(--pg-header);
  letter-spacing: .08em;
}
h2 {
  font-size: 1.7em;
  text-transform: none;
  font-weight: 300;
  color: var(--pg-header);
  letter-spacing: .08em;
}
h3 {
  font-size: 1.2em;
  text-transform: none;
  font-weight: 200;
  color: var(--pg-header);
  letter-spacing: .1em;
}
h4 {
  font-size: 1.2em;
  text-transform: none;
  font-weight: 600;
  color: var(--pg-header);
  letter-spacing: .05em;
}


/* Copy Buttons ------------------------------------------------------------- */
.btn-primary {
  background-color: var(--btn-color);
  border-color: var(--btn-color);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover {
  background-color: var(--btn-hover);
  border-color: var(--btn-hover);
}

/* table of contents -------------------------------------------------------- */
nav[data-toggle="toc"] .nav > li > a {
  color: var(--toc-link) !important;
  padding-left: 0.5rem;
  margin-left: -0.5rem;
  border-radius: 1rem;
  border: white solid;
}

/* Under hover */
nav[data-toggle="toc"] .nav > li > a:hover,
nav[data-toggle="toc"] .nav > li > a:focus,
/* Current */
nav[data-toggle="toc"] .nav-link.active,
nav[data-toggle="toc"] .nav-link.active:hover,
nav[data-toggle="toc"] .nav-link.active:focus
{
  background-color: var(--toc-bkg) !important;
}

/* Nav: second level (shown on .active) */
nav[data-toggle="toc"] .nav-link + ul {
  display: none;
}
nav[data-toggle="toc"] .nav-link.active + ul {
  display: block;
}
nav[data-toggle="toc"] .nav .nav > li > a {
  margin-left: 0.5rem;
}
