:root {
  --nav-bkg: #592617;     /* nav bar background */
  --nav-link: #C7C5B6;    /* nav bar link color */
  --nav-higl: #B38468;    /* nav hover background */

  --sdb-link: #967862;    /* hyperlinks in sidebar */
  --sdb-hover: #592617;   /* hyperlink hover in sidebar*/
  --sdb-roles: #00000094; /* author roles */

  --pg-header: #592617;   /* heading color & text links */
  --text-link: #592617;   /* hyperlinks in text */
  --a-hover: #967862;     /* hyperlink hover */

  --btn-color: #967862;   /* copy button color */
  --btn-hover: #B38468;   /* copy button hover */

  --toc-active: #C7C5B6;  /* background color for active TOC */
  --toc-hover: #7C9694;   /* background color for hover TOC */
}

/* Collapsible menu button on mobile (--nav-link) */
span.navbar-toggler-icon {
  filter: brightness(0) saturate(100%) invert(89%) sepia(10%) saturate(267%) hue-rotate(15deg) brightness(91%) contrast(83%);
}

/* Anchor image in headings (--text-link) */
a.anchor {
  filter: brightness(0) saturate(100%) invert(13%) sepia(86%) saturate(1008%) hue-rotate(342deg) brightness(93%) contrast(91%);
}
