:root {
  --nav-bkg: #2A122C;     /* nav bar background */
  --nav-link: #E6AF8A;    /* nav bar link color */
  --nav-higl: #E6AF8A;    /* nav hover background */

  --sdb-link: #4a2454;    /* hyperlinks in sidebar */
  --sdb-hover: #96689A;   /* hyperlink hover in sidebar*/
  --sdb-roles: #00000094; /* author roles */

  --pg-header: #4a2454;   /* heading color & text links */
  --text-link: #4a2454;   /* hyperlinks in text */
  --a-hover: #96689A;     /* hyperlink hover */

  --btn-color: #4a2454;   /* copy button color */
  --btn-hover: #96689A;   /* copy button hover */

  --toc-active: #E6AF8A;  /* background color for active TOC */
  --toc-hover: #96689A;   /* background color for hover TOC */
  --toc-htext: #2A122C;   /* color of TOC hover text (default to --nav-bkg */
}


/* plug color into: https://codepen.io/sosuke/pen/Pjoqqp -------------------- */
/* Collapsible menu button on mobile (--nav-link) */
span.navbar-toggler-icon {
  filter: brightness(0) saturate(100%) invert(6%) sepia(14%) saturate(3207%) hue-rotate(170deg) brightness(90%) contrast(89%);
}

/* Anchor image in headings (--text-link) */
a.anchor {
  filter: brightness(0) saturate(100%) invert(6%) sepia(14%) saturate(3207%) hue-rotate(170deg) brightness(90%) contrast(89%);
}
