:root {
  --nav-bkg: #1C160F;     /* nav bar background */
  --nav-link: #ADA795;    /* nav bar link color */
  --nav-higl: #ADA795;    /* nav hover background */

  --sdb-link: #1C160F;    /* hyperlinks in sidebar */
  --sdb-hover: #635B3A;   /* hyperlink hover in sidebar*/
  --sdb-roles: #00000094; /* author roles */

  --pg-header: #1C160F;   /* heading color & text links */
  --text-link: #3F3824;   /* hyperlinks in text */
  --a-hover: #635B3A;     /* hyperlink hover */

  --btn-color: #1C160F;   /* copy button color */
  --btn-hover: #635B3A;   /* copy button hover */

  --toc-active: #ADA795;  /* background color for active TOC */
  --toc-hover: #ADA795;   /* background color for hover TOC */
  --toc-htext: #1C160F;   /* color of TOC hover text (default to --nav-bkg */
}


/* plug color into: https://codepen.io/sosuke/pen/Pjoqqp -------------------- */
/* Collapsible menu button on mobile (--nav-link) */
span.navbar-toggler-icon {
  filter: brightness(0) saturate(100%) invert(36%) sepia(3%) saturate(5389%) hue-rotate(11deg) brightness(88%) contrast(82%);
}

/* Anchor image in headings (--text-link) */
a.anchor {
  filter: brightness(0) saturate(100%) invert(36%) sepia(3%) saturate(5389%) hue-rotate(11deg) brightness(88%) contrast(82%);
}
